@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Orbitron', cursive;
}

body {
	text-align: center;
	background: linear-gradient(to bottom, #13170e, #4e795e);
	min-height: 100vh;
}

main {
	display: inline-block;
	margin-top: 2%;
	padding: 15px;
	position: relative;
}

.digivice {
  width: 100%;
	max-width: 500px;
}

.digimon_image {
	position: absolute;
	bottom: 40%;
	left: 41%;
	height: 20%;
	border-radius: 5px;
}

.instructions {
	position: absolute;
	width: 25%;
	transition: opacity 0.3s ease-in-out;
}

.img_conf {
	top: 36%;
	left: 1%;
}

.img_prev {
	top: 44%;
	right: 3%;
}

.img_next {
	top: 29%;
	right: 3%;
}

.digimon_data {
	position: absolute;
	font-weight: 700;
	color: #667d76;
	top: 97%;
	width: 100%;
	left: 0;
	font-size: clamp(8px , 6vw, 40px);
}

.digimon_name {
	color: #fff;
}

.form {
	position: absolute;
	width: 60%;
	top: 110%;
	left: 20%;
}

.input_search {
	width: 100%;
	padding: 4%;
	outline: none;
	border: 2px solid #777;
	border-radius: 5px;
	font-weight: 600;
	color: #333;
	font-size: clamp(8px , 6vw, 19px);
}

.buttons {
	position: absolute;
	width: 12%;
}

.button {
	width: 100%;
	padding: 25%;
	background: transparent;
	border: 0; /* <<<<<<< Colocar valor 0 nesse atributo  */
	color: transparent;
}

.button:active {
	background: radial-gradient(circle at center, rgba(0,0,0,0.8) 00%, rgba(255,255,255,0) 90%);
}

.button1 {
	left: 19.5%;
	top: 42.5%;
}

.btn-1 {
	border-radius: 50%;
	padding: 35%;
}

.button2 {
	right: 21.5%;
	top: 35%;
}

.btn-2 {
	border-radius: 50%;
}

.button3 {
	right: 21.5%;
	top: 53%;
}

.btn-3 {
	border-radius: 50%;
}

.button4 {
	display: none; /*<<< Finalizar botão das funções */
	position: absolute;
	width: 16%;
	left: 15%;
	bottom: 10%;
}

.btn-4 {
	border-radius: 8px;
	width: 100%;
	padding: 5%;
}

.hidden {
	opacity: 0;
}

